@model ICollection<First_site_V2.Storage.Entities.Post>

<div class="container px-4 py-5" id="all-people">
    <h2 class="pb-2 border-bottom">Посты</h2>
    <div class="row">
 @foreach (var post in Model)
    {
          <div class = "row">
          <p>@post.PostText</p>
                @if (post.PNG != "/css/klim-revolt.jpg")
                {
                     <div class="icon-square bg-dark text-white d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src=@post.PNG height="100" width="100" />
                    </div>
                }
        </div>
        <p></p>
      }
    </div>
  </div>