<form method = "post">
    <label>Введите название нового сообщества:</label><br />
    <input required style = "border-radius:10px; width: 280px; height:40px;"type="text" name="name"  placeholder="Название"><br /><br />
    <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 180px; height:38px; color: hotpink" type="submit">Отправить</button>
</form>
