<form method = "post">
    <label>Введите название нового сообщества:</label><br />
    <input required type="text" name="name" placeholder="Название"/><br /><br />
    <button type="submit">Отправить</button>
</form>
