@model ICollection<First_site_V2.Storage.Entities.Picture>
<div class="container px-4 py-5" id="all-people">
    <h2 class="pb-2 border-bottom">Изображения</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
 @foreach(var item in Model)
    {
        <div>
        <button >
            <img src=@item.Imagin height="275" width="275" />
        </button>
        </div>
    }
    </div>
  </div>