@model First_site_V2.Storage.Entities.Profile
@{
    ViewData["Title"] = $"{@Model.Name} {@Model.Surname}";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div style="float: left; width: 25%;height:300px;">
                
                        <img style = "border-radius:200px" src=@Model.PNG height="275" width="275"/>
                    
            </div>

            <div style="float: right; width: 72%;height:300px;">
                <div class="col-2-3">
                    <h2>@Model.Name @Model.Surname</h2>
                    <p>@Model.Status</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div style="float: left; width: 25%;height:30px;">
                <form asp-controller="PersonProfile" asp-action="RemoveFriend" method="get">
                    <input type="hidden" value=@Model.Id name="PersonId" />
                    <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 200px; height:38px; color: hotpink" type="submit">Отписаться</button>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="float: left; width: 25%;height:30px;">
                <form asp-controller="PersonProfile" asp-action="GetReportOnUser" method="get">
                    <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 200px; height:38px; color: hotpink" type="submit">Отправить сообщение</button>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="float: left; width: 25%;height:30px;">
                <form asp-controller="PersonProfile" asp-action="AllPictures" method="get">
                    <input type="hidden" value=@Model.Id name="PersonId" />
                    <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 200px; height:38px; color: hotpink" type="submit">Все Фото</button>
                </form>
            </div>
        </div>

    </div>
</div>