@model ICollection<First_site_V2.Storage.Entities.Picture>


<div class="container px-4 py-5" id="all-people">
    
    <h2 class="pb-2 border-bottom">Изображения</h2>
  
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div style="float: left; width: 33%;height:90px;">
                <form asp-controller="Page" asp-action="AddPicture" method="post">
                    <p><input style = "border-radius:10px; width: 280px; height:40px;"type="text" name="pictureURL"  placeholder="Введите URL картинки"><button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 180px; height:38px; color: hotpink" type="submit">Добавить Картинку</button> </p>    <br />      
               
                </form>
            </div>
 @foreach(var item in Model)
    {
        <div>
        <button action=@item.Imagin>
            <img src="@item.Imagin" height="275" width="275" />
        </button>
        </div>
    }
    </div>
  </div>
