@model ICollection<First_site_V2.Storage.Entities.Picture>
<div>
    @foreach(var item in Model)
    {
        <div>
        <button >
            <img src=@item.Imagin height="275" width="275" />
        </button>
        </div>
    }
</div>