@model ICollection<First_site_V2.Storage.Entity.Profile>
<div>

        @foreach (var human in Model)
        {
    <p><button><img src=@human.png height="100" width="100" /> @human.name @human.surname <p>@human.status</p> </button></p>
            

        }

</div>