@model ICollection<First_site_V2.Storage.Entity.Profile>
<div>

        @foreach (var human in Model)
        {
    <form>
        <button><img src=@human.png height="100" width="100" /> <input> @human.name @human.surname </input></button>
    </form>
    
        }

</div>