
@model First_site_V2.Storage.Entities.Profile

@{
    ViewData["Title"] = $"{@Model.Name} {@Model.Surname}";
}
<div class="main">
    <div class="container">
        <div class="row">
            <div style="float: left; width: 25%;height:300px;">
                <form action =@Model.PNG target="_blank">
                    <button >
                        <img src=@Model.PNG height="275" width="275"/>
                    </button>
                </form>
            </div>

            <div style="float: right; width: 72%;height:300px;">
                <div class="col-2-3">
                    <h2>@Model.Name @Model.Surname</h2>
                    <p>@Model.Status</p>
                </div>
            </div>
             <div class="row">
            <div style="float: left; width: 25%;height:300px;">
                <form asp-controller="Page" asp-action="Report" method="get">
                    <button>Пожаловаться</button>
                </form>
            </div>
        </div>
         <div class="row">
            <div style="float: left; width: 25%;height:300px;">
                <form asp-controller="Page" asp-action="AddPicture" method="post">
                    <p><input type="text" placeholder="ВВедите URL картинки" name="pictureURL" /><button type="submit">Добавить Картинку</button> </p>          
                </form>
            </div>
        </div>
        </div>
       
    </div>
</div>