
@model First_site_V2.Storage.Entities.Profile

@{
    ViewData["Title"] = $"{@Model.Name} {@Model.Surname}";
}
<body style = "background-color:#212529">
<div class="main">
    <div class="container">
        <br/>
        <div class="row">
            <div style="float: left; width: 25%;height:300px;">
                        <img style = "border-radius:200px" src=@Model.PNG height="275" width="275"/>
            </div>

            <div style="float: right; width: 72%;height:300px;">
                <div class="col-2-3">
                    <h2>@Model.Name @Model.Surname</h2>
                    <p>@Model.Status</p>
                </div>
            </div>
         <div class="row">
            
        </div>
        <div class="row">
        
        </div>
         <div class="row">
            <div style="float: left; width: 25%;height:60px;">
                <form asp-controller="Page" asp-action="EditProfile" method="get">
          <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 180px; height:38px; color: hotpink">Изменить профиль</button>
          </form>
          <br/>
          <form asp-controller="Home" asp-action="DeleteProfile" method="get">
          <button class = "btn btn-outline-light me-2" style = "border-radius:10px; width: 180px; height:38px; color: hotpink">Удалить профиль</button>
          </form>
            </div>
        </div>
       </div>
    </div>
</div>
</body>