<div class="text-center">
   <h3>Что Вам не понравилось на нашем сайте?</h3> 
</div>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @model First_site_V2.Storage.Entities.Report

<form asp-controller="Page" asp-action="Report" method="post">
    <textarea style = "
        display: inline-block;
        border-radius:10px;
        margin: 10px auto;
        border: 2px solid #000000;
        padding: 10px 20px;
        font-family: Verdana, Arial, sans-serif;
        font-size: 16px;
        background-color:gray;
        text-decoration-color:inherit;
        hight: 600px;
        width: 1200px;" asp-for="ReportText" class="text-white"></textarea><br />
    <button type="submit" style="text-align:center">Отправить</button>
</form>