<div class="text-center">
   <h3>Что Вам не понравилось на нашем сайте?</h3> 
</div>
<div align="center">
    <form method="post">
        <input style="float: left; width: 25%;height:300px;width:900px;" required type="text" placeholder="Не нада Дядя" value="Ничего, все отлично=)"  name="reportText" /><br />
        <button type="submit">Отправить</button>
    </form>
</div>