<div class="text-center">
   <h3>Что Вам не понравилось на нашем сайте?</h3> 
</div>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Текстовое поле</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <form method="post">
  <input  style="background: transparent;margin: 3px;width: 1200px;padding: 5px 0 5px 5px;height: 300px;" type="text" name="reportText">
   <div class="comment"><textarea cols="10" rows="10"></textarea></div>
   <p><button type="submit" >Отправить</button ></p>
  </form>
 </head>
 </html>