@{
    ViewData["Title"] = "Вход";
}
@model First_site_V2.Storage.Entities.diologi_ted_a_ted
<html>
     <style>
   body {
    background: src(fon.jpg); 
    color: #fff; 
   }
  </style>
  <body>
      <br />
<form method="post">
    @if (Model.fl == 1)
    {
        <div>Неправильный логин или пароль</div><br /><br />
    }
    
    <label>Логин:</label><br />
    <input required type="text" name="login" placeholder="Введите логин"/><br /><br />
    <label>Пароль:</label><br />
    <input required type="password" name="password" placeholder="Введите пароль"/><br /><br />
    <button type="submit">Отправить</button>
</form>
</body>
</html>
