@{
    ViewData["Title"] = "Login";
}
@model First_site_V2.Storage.Entities.diologi_ted_a_ted


<form method="post">
    @if (Model.fl == 1)
    {<div>Wrong login or password</div><br /><br />}

    <label>Логин:</label><br />
    <input required type="text" name="login" /><br /><br />
    <label>Пароль:</label><br />
    <input required type="password" name="password" /><br />
    <a href="~/Home/Registration" class="btn">Register</a><br /><br />
    <button type="submit" value="Send">Send</button>
</form>
