@{ 
    ViewData["Title"] = "Registration"; 
 }

<form method="post">
    <label>Логин:</label><br />
    <input required type="text" name="login" /><br /><br />
    <label>Пароль:</label><br />
    <input required type="password" name="password" /><br /><br />
    <label>Имя:</label><br />
    <input required type="text" name="name" /><br /><br />
    <label>Фамилия:</label><br />
    <input required type="text" name="surname" /><br /><br />
    <input type="submit" value="Отправить" />
</form>