@{
    ViewData["Title"] = "Friends";
}

@model ICollection<First_site_V2.Storage.Entities.Profile>

@if (Model == null)
{
    <p>Дружище у тебя нет друзей</p>
}
else
{
    <div>
    @foreach (var human in Model)
    {
        <button><img src=@human.PNG height="100" width="100" />  @human.Name @human.Surname </button>
    }
</div>
}